#ambientGlow{

    position:fixed;

    inset:-20%;

    background:
        radial-gradient(
        circle,
        var(--glow) 0%,
        transparent 70%
    );

    opacity:.20;

    filter:blur(90px);

    pointer-events:none;

    z-index:-1;

    animation:
        ambientPulse 5s infinite ease-in-out;

    transition:
        background 1s ease,
        opacity 1s ease;

}

@keyframes ambientPulse{

    0%,100%{

        transform:
        scale(1)
        translate(0,0);

    }

    50%{

        transform:
        scale(1.15)
        translate(20px,-20px);

    }

}