#songContent{

    transition:
        opacity .35s ease,
        transform .35s ease;

}

.fade-out{

    opacity:0;

    transform:
        translateY(12px)
        scale(.98);

}

.fade-in{

    opacity:1;

    transform:
        translateY(0)
        scale(1);

}